*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body
{
  font-family: sans-serif;
  background-color:pink;
  background-image: url(./images/groung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
ul
{
  display:flex;
  padding: 2rem;
  justify-content: space-between;
  color: yellow;
  font-size: 2rem;
  align-items: end;
}
a
{
  text-decoration:none;
}



.landing h3{
    color: red;
    text-align: center;
    font-style: italic;
}

.landing p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

header .landing h3,p{
    margin-top: 5rem;
}

.navbar
{
  position:absolute;
  width:100%;
  padding: 50px;
  display:flex;
  background-color:white;
  justify-content:space-between;
  align-items:end;
}
.navbar .navbarLinks ul li
{
  margin:0 25px;
  font-size: small !important;
}
.navbar .navbarLinks ul li.active a
{
  color:red;
  font-weight:bold;
}

.navbar a 
{
  color:palevioletred;
  align-content:center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
.navbar a:hover{
    color: antiquewhite;
}
.navbar .menu-hamburger
{
  display:none;
  color:red;
  position:absolute;
  top:50px;
  right:50px;
  font-size:35px;
  cursor:pointer;
}

@media screen and (max-width:900px)
{
  .navbar
  {
    padding:0;
  }

  .navbar .menu-hamburger
  {
    display:block;
  }
}

#products{
    display: grid !important;
    grid-template-columns:repeat(4,1fr) !important;
    grid-template-rows: repeat(3,1fr);
    gap:20px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000; 
}
#products h3{
  font-size: small;
}
#products .card{
  width: 5rem;
  row-gap: 4rem;
  margin: 5em;
}
#form{
  text-align: center;
  color: white;
}

#submit{
    margin: 2rem;
    align-items: center;
}
#update{
  display: none;
}

