*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  


 #section  ul li {
    display: flex;
    text-decoration: none;
  }
  .books{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }