*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  


 #section  ul li {
    display: flex;
    text-decoration: none;
  }
  /* .products{
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
  } */

  /* .card-img{
    display: flex;
    grid-template-rows: 4;
  } */